@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    outline: 0;
}

#slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
/* ul == 100% * panel개수 */
#slider .panel {
    width: calc(100% * 5);
    height: 100%;
}
/* li == 100% / panel개수 */
#slider .panel li {
    float: left;
    width: calc(100% / 5);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#slider .panel li:nth-of-type(1) {
    background-image: url(../img/pic1.jpg); 
}
#slider .panel li:nth-of-type(2) {
    background-image: url(../img/pic2.jpg); 
}
#slider .panel li:nth-of-type(3) {
    background-image: url(../img/pic3.jpg); 
}
#slider .panel li:nth-of-type(4) {
    background-image: url(../img/pic4.jpg); 
}
#slider .panel li:nth-of-type(5) {
    background-image: url(../img/pic5.jpg); 
}

#slider .btns {
    position: absolute;
    bottom: 10vh;
    left: 5%;
    width: 90%;
}

#slider .btns li {
    float: left;
    width: 20%;
    height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    perspective: 400px;
}

#slider .btns li a {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    border-radius: 20px;
    box-sizing: border-box;
    font: 14px/40px 'arial';
    color: #333;
    text-align: center;
    transition: 1s;
}

#slider .btns li a.on {
    color: #fff;
    background: rgba(0,0,0,.5);
    transform: rotateY(360deg);
}

#circle {
    position: fixed;
    top: 50%;
    right: -160px;
    margin-top: -160px;
    transition: 1s;
}

#circle.rot1 {transform: rotate(0deg);}
#circle.rot2 {transform: rotate(60deg);}
#circle.rot3 {transform: rotate(120deg);}
#circle.rot4 {transform: rotate(180deg);}
#circle.rot5 {transform: rotate(240deg);}
